
.addtonav{
    color:white !important;
}
.addtonav a.active, .addtonav span{
    color:white !important;
    opacity:1 !important;
}
.addtonav a{
    color:#F8F9FA !important;
    opacity:0.7;
}
.navbar-light .navbar-toggler-icon.active{
    filter:invert();
}